.leftbar {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left);
}

.profile {
  padding: var(--card-padding);
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
}

.sidebar {
  margin-top: 1rem;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
}

.sidebar .menuItem {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
}
.sidebar .menuItem h3 {
  margin-left: 1rem;
}

.sidebar .menuItem:hover {
  background: var(--color-light);
}

.notificationCount {
  background: var(--color-danger);
  color: white;
  font-size: 0.7rem;
  width: fit-content;
  border-radius: 0.8rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: -0.2rem;
  right: -0.3rem;
}

.left .sidebar h3 {
  margin-left: 1.5rem;
  font-size: 1rem;
}

.sidebar .active {
  background: var(--color-light);
}

.sidebar .active h3 {
  color: var(--color-primary);
}

.sidebar .active::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  left: 0;
  background: var(--color-primary);
}

.firstItem.active {
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.lastItem.active {
  border-bottom-left-radius: var(--card-border-radius);
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .leftbar {
    width: 5rem;
    z-index: 5;
  }
  .profile {
    display: none;
  }
  .sidebar h3 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .leftbar {
    grid-column: 3/4; /*From 3 to 4*/
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 480px) {
  .sidebar {
    display: flex;
    border-radius: 0;
    justify-content: space-around;
  }
  .leftbar {
    top: auto;
    width: 100vw;
    flex-direction: column;
  }
  .firstItem.active,
  .lastItem.active {
    border-radius: 0;
  }

  .sidebar .active::before {
    display: none;
  }

  .sidebar .menuItem {
    padding: 0;
  }
  .active {
    background: var(--color-white) !important;
  }
  .icon {
    margin: 0;
    padding: 0;
  }
}
