.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  gap: 5rem;
}
.left {
  width: 20rem;
  text-align: center;
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-size: 50px;
  font-weight: lighter;
}

.description {
  font-size: 24px;
}

.box {
  height: 25rem;
  padding: var(--card-padding);
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forgot {
  text-align: center;
  color: #1775ee;
}
.link {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .wrapper {
    flex-direction: column;
  }
}
