.editProfile {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.5;
}

.editContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.formContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.description {
  grid-row: 1 / span 3;
  grid-column-start: 2;
}

@media screen and (max-width: 992px) {
  .formContainer {
    grid-template-columns: 1fr;
    width: 80%;
  }

  .description {
    grid-column-start: 1;
  }
}
